<div class="container">
    <div class="about-section">
        <h1>About Us</h1>
        <p>We provide you with all the information you need about cars and present you with all car companies in the auto
            industry. We give you a history of how and when auto production started, and how it lead to the boom of all car
            brands coming up in the market.</p>
        <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
    </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
            <div class="card">
                <img src="../assets/images/prof1.PNG" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Sandeep Morey</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Group CEO of XYZ. He has Mechanical Engineering degree from IIT, Mumbai. He has experience of funding
                        many ventures and turning them into successful companies. </p>
                    <p>sandeep@xyzmedia.com</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>
      
        <div class="column">
            <div class="card">
                <img src="../assets/images/prof3.PNG" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Sneha Tendulkar</h2>
                    <p class="title">EXECUTIVE VP - MARKETING</p>
                    <p>She is strong communicator and astute business operator having sold critical thinking skills and ability
                        to analyze solutions and statement and determine their validity.</p>
                    <p>sneha@xyzmedia.com</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>
      
        <div class="column">
            <div class="card">
                <img src="../assets/images/prof2.PNG" alt="John" style="width:100%">
                <div class="container">
                    <h2>Ramesh Satpute</h2>
                    <p class="title">Designer</p>
                    <p>He is currently the Team Lead – Design and has played an important role in the company's design
                        development. His specialized in Mechanical (CAD/CAM) and knows languages like
                        C++, C#. </p>
                    <p>ramesh@xyzmedia.com</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>
      </div>
</div>