<form class="modal-content animate" action="" method="post">
  <div class="container">
      <div class="row">
          <label for="uname"><b>Username</b></label><br>
          <input type="text" [(ngModel)]="loginDetails.emailId" placeholder="Enter Username" name="uname" required>
      </div>
      <div class="row">
          <label for="psw"><b>Password</b></label>
          <input type="password" [(ngModel)]="loginDetails.password" placeholder="Enter Password" name="psw" required>
      </div>
      <div class="row">
          <button type="button" (click)="login(loginDetails)">Login</button>
      </div>
  </div>
</form>