<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car2.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car3.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car4.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car5.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car6.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car7.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car8.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car9.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car10.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car11.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car12.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car13.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car14.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car16.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car15.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/car17.PNG" alt="" class="fluid img-thumbnail">
            </div>   
        </div>
    </div>
</div>