<div class="content">
    <app-dashboard></app-dashboard>
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <footer class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center text-light">
                <span>Copyright © 2021 XYZ Media | Powered by One Cumminication Tech</span>
            </div>
          </div>
        </div>
      </footer>
</div>

