<div *ngIf = "logIn" class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "img" src="../assets/images/vc1.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc2.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc3.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc4.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs"  src="../assets/images/vc5.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc6.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc7.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc8.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc9.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc10.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc11.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc12.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc13.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc15.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc16.PNG" alt="" class="fluid img-thumbnail">
            </div>
            <div class="col-sm-6 col-md-3 mb-3">
                <img id = "imgs" src="../assets/images/vc17.PNG" alt="" class="fluid img-thumbnail">
            </div>
        </div>
    </div>
</div>