body {
    font-family: 'Raleway', sans-serif;
  }
  .bg-dark {
    background-color: #105469 !important;
  }
  
  .nav-item:hover {
    color: #E2B842 !important;
  }
  
  h1 {
    color: #105469;
    font-weight: 700;
  }
  
  footer, footer .container .col{
    height: 200px;
  }
  #username {
    margin: 10px;
    color: white;
}
#id {
  width: 250px;
  height: 170px;
}

#imgs {
  width: 260px;
  height: 177px;
}
.link {
    margin: 130px;
}